<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= current_page.data.title || "Instant Info Pages" %></title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <%= stylesheet_link_tag "vendor/bootstrap/bootstrap.min.css" %>
  <%= stylesheet_link_tag "vendor/icofont/icofont.min.css" %>
  <%= stylesheet_link_tag "vendor/aos/aos.css" %>

  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "site" %>

  <!-- =======================================================
  * Template Name: Appland - v2.0.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="<%= 'active' if current_page.data.menu == 'home'  %>"><a href="/">Home</a></li>
          <li class="<%= 'active' if current_page.data.menu == 'privacy'  %>"><%= link_to 'Privacy', '/privacy/' %></li>
          <li><a href="mailto:support@instantpagebuilder.net" target="_blank">Contact Us</a></li>
          <li class="get-started"><a href="https://app.instantpagebuilder.net" target="_blank">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <%= yield %>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="sticky-bottom">

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Instant Info Pages</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <%= javascript_include_tag "vendor/jquery/jquery.min" %>
  <%= javascript_include_tag "vendor/bootstrap/bootstrap.bundle.min" %>
  <%= javascript_include_tag "vendor/jquery.easing/jquery.easing.min" %>
  <%= javascript_include_tag "vendor/aos/aos" %>

  <!-- Template Main JS File -->
  <%= javascript_include_tag "site" %>

</body>

</html>
